*{
    font-family: 'Constantia';
    padding: 0;
    margin: 0;
}

/* header
{
    position: sticky;
    top: 0;
}
.navbar ul{
    list-style-type: none;
    gap: 10%; 
    position: sticky;
    justify-content: center;
    display: flex;
   background-image: radial-gradient(circle at 90.21% 73.22%, #0084ff 0, #007eff 8.33%, #5677ff 16.67%, #7a6ff8 25%, #9667ef 33.33%, #ac5ee4 41.67%, #be55d8 50%, #cd4bcb 58.33%, #da41bc 66.67%, #e438ae 75%, #ec2f9e 83.33%, #f2298f 91.67%, #f5267f 100%);
   top: 0%;

}

.navbar li a{
    display:grid;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
}

.navbar li a:hover {
   background-color:#0084ff
} */

/* hero background image */
.bgimage {
    height: 100vh;
    background: url('./IMG-20230119-WA0001.jpg');
    background-size: cover;
    position: relative;
}

/* text css above hero image */
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Works section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
}
.sevicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color:#008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgba(red, #f2f2f2, #008000 , 0.06)
}
/* .container {
    box-sizing: border-box;
} */

.background {
    position:absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
}

input[type=text], textarea{
    width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display:inline-block;
    /* Espace les différents points du block */
}

input[type=submit] {
    background-color:#ccc;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    border: 1px solid #008000;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px){
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}

footer{
    position: sticky;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-image: radial-gradient(circle at 90.21% 73.22%, #0084ff 0, #007eff 8.33%, #5677ff 16.67%, #7a6ff8 25%, #9667ef 33.33%, #ac5ee4 41.67%, #be55d8 50%, #cd4bcb 58.33%, #da41bc 66.67%, #e438ae 75%, #ec2f9e 83.33%, #f2298f 91.67%, #f5267f 100%);
        top: 0%;
}